Repository martian-cloud/tharsis-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, license_scanning

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, frontend/package-lock.json
  license_scanning: any of: **/go.mod, **/go.sum, go.mod, go.sum

Fix pipeline and update settings.json
  .gitlab-ci.yml
Due: populate_npm_cache

Fix test and lint jobs
  .gitlab-ci.yml
Due: populate_npm_cache

Run dast on main branch
  .gitlab-ci.yml
Due: populate_npm_cache

Update CURL and remove apk update
  Dockerfile
Due: none

Fix CI/CD security jobs and AIO trigger
  .gitlab-ci.yml
Due: populate_npm_cache

Support for ephemeral inputs and write-only attributes
  Dockerfile
  internal/jobexecutor/apply.go
  internal/jobexecutor/executor.go
  internal/jobexecutor/plan.go
  internal/jobexecutor/terraform.go
Due: none

Add YouTube link to OSS README
  README.md
Due: none

Display modules
  frontend/schema/schema.graphql
  frontend/src/groups/GroupDetails.tsx
  frontend/src/groups/GroupDetailsDrawer.tsx
  frontend/src/groups/__generated__/GroupDetailsFragment_group.graphql.ts
  frontend/src/groups/terraformmodule/TerraformModuleList.tsx
  frontend/src/groups/terraformmodule/TerraformModuleListItem.tsx
  frontend/src/groups/terraformmodule/TerraformModules.tsx
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListFragment_group.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListFragment_terraformModules.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListItemFragment_terraformModule.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListPaginationQuery.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListQuery.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModulesFragment_group.graphql.ts
  frontend/src/routes/__generated__/GroupOrWorkspaceRendererQuery.graphql.ts
  internal/api/graphql/resolver/group.go
  internal/api/graphql/schema/type/group.graphql
Due: none

Sign docker images and verify signature before deployment
  .gitlab-ci.yml
Due: populate_npm_cache

Module UX Improvements
  frontend/schema/schema.graphql
  frontend/src/ApiConfigContext.ts
  frontend/src/ErrorBoundary.tsx
  frontend/src/Root.tsx
  frontend/src/__generated__/RootQuery.graphql.ts
  frontend/src/groups/GroupList.tsx
  frontend/src/groups/serviceaccount/ServiceAccountList.tsx
  frontend/src/groups/terraformmodule/TerraformModuleList.tsx
  frontend/src/groups/terraformmodule/TerraformModuleListItem.tsx
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListFragment_terraformModules.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListItemFragment_terraformModule.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListPaginationQuery.graphql.ts
  frontend/src/groups/terraformmodule/__generated__/TerraformModuleListQuery.graphql.ts
  frontend/src/nav/AccountMenu.tsx
  frontend/src/nav/__generated__/AccountMenuFragment.graphql.ts
  frontend/src/workspace/runs/RunDetailsSidebar.tsx
  internal/api/graphql/error.go
  internal/api/graphql/graphql.go
  internal/api/graphql/resolver/group.go
  internal/api/graphql/resolver/terraformmodule.go
  internal/api/graphql/schema/type/group.graphql
  internal/api/graphql/schema/type/terraformmodule.graphql
  internal/db/terraformmodule.go
  internal/models/terraformmodule.go
  internal/services/moduleregistry/service.go
Due: none

Add Terraform Module Signing Support
  Dockerfile
Due: none

Update kube job dispatcher to support custom labels and annotations. Handle...
  cmd/job/job.go
  go.mod
  go.sum
  internal/runner/jobdispatcher/kubernetes/kube.go
Due: license_scanning

Updated DB Integration Tests to use New Pattern
  frontend/package-lock.json
  frontend/package.json
  internal/db/activity_event_test.go
  internal/db/apply_test.go
  internal/db/configurationversion_test.go
  internal/db/dbclient_test.go
  internal/db/gpgkey_test.go
  internal/db/group_test.go
  internal/db/jobs_test.go
  internal/db/log_stream_test.go
  internal/db/mock_team_members.go
  internal/db/namespace_test.go
  internal/db/namespacemembership_test.go
  internal/db/plan_test.go
  internal/db/role_test.go
  internal/db/run_test.go
  internal/db/runner_test.go
  internal/db/scim_tokens_test.go
  internal/db/serviceaccount_test.go
  internal/db/state_version_output_test.go
  internal/db/state_version_test.go
  internal/db/team_test.go
  internal/db/teammember.go
  internal/db/teammember_test.go
  internal/db/terraform_provider_platform_mirror_test.go
  internal/db/terraform_provider_version_mirror_test.go
  internal/db/terraformmodule_test.go
  internal/db/terraformmoduleattestation_test.go
  internal/db/terraformmoduleversion_test.go
  internal/db/terraformprovider_test.go
  internal/db/terraformproviderplatform_test.go
  internal/db/terraformproviderversion_test.go
  internal/db/user_test.go
  internal/db/variable_test.go
  internal/db/vcsevent_test.go
  internal/db/vcsprovider_test.go
  internal/db/workspaces_test.go
  internal/db/workspacevcsproviderlink_test.go
Due: populate_npm_cache

Add TRN support
  go.mod
  go.sum
Due: license_scanning

User-Agent header support for Tharsis CLI
  internal/api/middleware/useragent.go
  internal/api/routes.go
  pkg/logger/logger.go
Due: none

Cleanup error logs
  .gitlab-ci.yml
  go.mod
  go.sum
  internal/api/graphql/error.go
  internal/api/graphql/graphql.go
  internal/db/transaction.go
  internal/jobexecutor/joblogger/joblogger.go
  internal/jobexecutor/managedidentity/tharsisfederated/managedidentity_test.go
  pkg/jws/awskms/awskms.go
Due: populate_npm_cache, license_scanning

Mitigate security findings
  Dockerfile
  go.mod
Due: license_scanning

Link Improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/admin/AdminAreaDetailsDrawer.tsx
  frontend/src/groups/GroupDetailsDrawer.tsx
  frontend/src/home/HomeTeamListItem.tsx
  frontend/src/home/HomeWorkspaceListItem.tsx
  frontend/src/nav/AccountMenu.tsx
  frontend/src/nav/RegistryMenu.tsx
  frontend/src/workspace/WorkspaceDetailsDrawer.tsx
Due: populate_npm_cache

chore(deps): update module golang.org/x/crypto to v0.43.0 [security]
  go.mod
  go.sum
Due: license_scanning

Mitigate security findings
  Dockerfile
  go.mod
  go.sum
Due: license_scanning

Add kubernetes managed identity support
  frontend/src/groups/managedidentity/ManagedIdentityDetails.tsx
  frontend/src/groups/managedidentity/ManagedIdentityForm.tsx
  frontend/src/groups/managedidentity/ManagedIdentityListItem.tsx
  frontend/src/groups/managedidentity/ManagedIdentityTypeChip.tsx
  go.mod
  go.sum
  internal/jobexecutor/managedidentities.go
  internal/jobexecutor/managedidentity/kubernetesfederated/managedidentity.go
  internal/jobexecutor/managedidentity/kubernetesfederated/managedidentity_test.go
  internal/models/managedidentity.go
  internal/services/managedidentity/delegate.go
  internal/services/managedidentity/kubernetesfederated/delegate.go
  internal/services/managedidentity/kubernetesfederated/delegate_test.go
  internal/services/managedidentity/service_test.go
Due: license_scanning

Universal search
  frontend/package-lock.json
  frontend/schema/schema.graphql
  frontend/src/api/fetchGraphQL.ts
  frontend/src/nav/AppHeader.tsx
  frontend/src/nav/UniversalSearch.tsx
  frontend/src/nav/__generated__/UniversalSearchQuery.graphql.ts
  internal/api/graphql/resolver/resolver.go
  internal/api/graphql/resolver/universalsearch.go
  internal/api/graphql/schema/query.graphql
  internal/api/graphql/schema/type/universalsearch.graphql
  internal/api/routes.go
  internal/apiserver/apiserver.go
  internal/universalsearch/searchers.go
  internal/universalsearch/universalsearch.go
  internal/universalsearch/universalsearch_test.go
  pkg/errors/errors.go
Due: populate_npm_cache

fix: improve error messages for invalid module versions in Phobos plugin
  internal/services/run/service.go
  internal/services/run/service_test.go
Due: none

Add additional metrics and logging
  frontend/src/workspace/runs/RunDetailsApplyStage.tsx
  frontend/src/workspace/runs/RunDetailsPlanStage.tsx
  internal/api/middleware/httpratelimiter.go
  internal/api/middleware/prometheus.go
  internal/api/routes.go
  internal/apiserver/apiserver.go
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/db/event.go
  internal/db/migrations/20251208211719_add_index.down.sql
  internal/db/migrations/20251208211719_add_index.up.sql
  internal/services/job/service.go
  pkg/logger/logger.go
Due: none

Improve job log subscription by returning log data with log stream event
  frontend/schema/schema.graphql
  frontend/src/workspace/runs/JobLogs.tsx
  frontend/src/workspace/runs/__generated__/JobLogsQuery.graphql.ts
  frontend/src/workspace/runs/__generated__/JobLogsSubscription.graphql.ts
  go.mod
  go.sum
  internal/api/graphql/resolver/job.go
  internal/api/graphql/schema/type/job.graphql
  internal/api/middleware/prometheus.go
  internal/api/middleware/useragent.go
  internal/logstream/manager.go
  internal/logstream/manager_test.go
  internal/services/run/state/runstatemgr.go
Due: license_scanning

Display workspace runs within group details page
  frontend/schema/schema.graphql
  frontend/src/groups/GroupDetails.tsx
  frontend/src/groups/GroupDetailsDrawer.tsx
  frontend/src/groups/GroupList.tsx
  frontend/src/groups/GroupRunList.tsx
  frontend/src/groups/GroupRuns.tsx
  frontend/src/groups/WorkspaceList.tsx
  frontend/src/groups/__generated__/GroupDetailsFragment_group.graphql.ts
  frontend/src/groups/__generated__/GroupRunListFragment_group.graphql.ts
  frontend/src/groups/__generated__/GroupRunListPaginationQuery.graphql.ts
  frontend/src/groups/__generated__/GroupRunListQuery.graphql.ts
  frontend/src/groups/__generated__/GroupRunListSubscription.graphql.ts
  frontend/src/groups/__generated__/GroupRunsFragment_group.graphql.ts
  frontend/src/routes/__generated__/GroupOrWorkspaceRendererQuery.graphql.ts
  frontend/src/workspace/WorkspaceDetails.tsx
  frontend/src/workspace/__generated__/WorkspaceDetailsRunSubscription.graphql.ts
  frontend/src/workspace/runs/RunList.tsx
  frontend/src/workspace/runs/RunListItem.tsx
  frontend/src/workspace/runs/Runs.tsx
  frontend/src/workspace/runs/WorkspaceRunList.tsx
  frontend/src/workspace/runs/__generated__/RunListFragment_runConnection.graphql.ts
  frontend/src/workspace/runs/__generated__/RunListItemFragment_run.graphql.ts
  frontend/src/workspace/runs/__generated__/WorkspaceRunListFragment_runs.graphql.ts
  frontend/src/workspace/runs/__generated__/WorkspaceRunListPaginationQuery.graphql.ts
  frontend/src/workspace/runs/__generated__/WorkspaceRunListQuery.graphql.ts
  internal/api/graphql/resolver/group.go
  internal/api/graphql/resolver/run.go
  internal/api/graphql/schema/type/group.graphql
  internal/api/graphql/schema/type/run.graphql
  internal/db/run.go
  internal/models/run.go
  internal/services/run/service.go
Due: none

Ignore go mod files for linting
  .gitignore
  Makefile
Due: none

fix Security findings
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: populate_npm_cache

Fix job subscription last seen log size
  frontend/src/workspace/runs/JobLogs.tsx
Due: none

Fix SCIM: address duplicate users, external ID handling, testcases
  frontend/package-lock.json
  internal/api/graphql/resolver/root.go
  internal/api/graphql/resolver/scim.go
  internal/api/graphql/schema/mutation.graphql
  internal/api/graphql/schema/type/scim.graphql
  internal/apiserver/apiserver.go
  internal/auth/authentication.go
  internal/auth/scim.go
  internal/db/mock_users.go
  internal/db/user.go
  internal/db/user_test.go
  internal/services/scim/service.go
  internal/services/scim/service_test.go
Due: populate_npm_cache

Feature/display favorites in universal search bar
  frontend/package-lock.json
  frontend/package.json
  frontend/schema/schema.graphql
  frontend/src/nav/UniversalSearch.tsx
  frontend/src/nav/__generated__/UniversalSearchQuery.graphql.ts
  internal/api/graphql/resolver/namespacefavorite.go
  internal/api/graphql/resolver/user.go
  internal/api/graphql/schema/type/user.graphql
  internal/db/namespace_favorite.go
  internal/db/namespace_favorite_test.go
  internal/services/user/service.go
  internal/services/user/service_test.go
  internal/universalsearch/searchers.go
  internal/universalsearch/universalsearch.go
  internal/universalsearch/universalsearch_test.go
Due: populate_npm_cache

Update module github.com/go-chi/chi/v5 to v5.2.4 [SECURITY]
  go.mod
  go.sum
Due: license_scanning
