Repository martian-cloud/tharsis-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, license_scanning

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, frontend/package-lock.json
  license_scanning: any of: **/go.mod, **/go.sum, go.mod, go.sum

Upgrade s3/manager to fix multipart upload compatibility
  go.mod
  go.sum
Due: license_scanning

Update tf-exec library
  frontend/package-lock.json
  go.mod
  go.sum
  internal/registry/moduleresolver_test.go
Due: populate_npm_cache, license_scanning

Mitigate Security Findings
  Dockerfile
  frontend/package-lock.json
Due: populate_npm_cache

Scope SSL_CERT_FILE to Terraform init; reduce service account token expiration to 5 mins
  internal/jobexecutor/terraform.go
  internal/services/serviceaccount/service.go
  internal/services/serviceaccount/service_test.go
Due: none

Filesystem Object Store Plugin for Tharsis Local Development
  .gitignore
  docker-compose/docker-compose.yml
  env.example
  internal/api/controllers/objectstore_controller.go
  internal/api/routes.go
  internal/plugin/catalog.go
  pkg/objectstore/aws/s3.go
  pkg/objectstore/filesystem/filesystem.go
  pkg/objectstore/filesystem/filesystem_test.go
  pkg/objectstore/mock_object_store.go
  pkg/objectstore/objectstore.go
Due: none

Increase service account token expiration to improve support for terraform init
  internal/jobexecutor/providermirrorproxy.go
  internal/services/serviceaccount/service.go
  pkg/objectstore/filesystem/filesystem.go
Due: none

Resolve vulnerability: Allocation of resources without limits or throttling
  frontend/package-lock.json
  frontend/package.json
  go.mod
  go.sum
  internal/jobexecutor/providermirrorproxy.go
Due: populate_npm_cache, license_scanning

Fix flaky TestVerifyPresignedURL/tampered_signature test
  pkg/objectstore/filesystem/filesystem_test.go
Due: none

adding support for username filter in scim controller
  internal/api/controllers/scimcontroller.go
  internal/services/scim/service.go
  internal/services/scim/service_test.go
Due: none

handle large gpg key id
  internal/db/gpgkey.go
  internal/db/gpgkey_test.go
  internal/db/terraformproviderversion.go
Due: none

Update Security vulnerabilities [SECURITY]
  go.mod
  go.sum
Due: license_scanning

Feature/improve service account error
  frontend/package-lock.json
  internal/services/serviceaccount/service.go
  internal/services/serviceaccount/service_test.go
Due: populate_npm_cache

Send Email When Signing Key Enters Decommissioning Status
  internal/apiserver/apiserver.go
  internal/auth/signing_key_manager.go
  internal/auth/signing_key_manager_test.go
  internal/db/user.go
  internal/email/builder/builder.go
  internal/email/builder/signing_key_decommission.go
  internal/email/builder/templates/base.tmpl
  internal/email/builder/templates/signing_key_decommission.tmpl
Due: none

Trigger refresh only runs (add "Refresh Only" option in UI)
  frontend/src/workspace/runs/create/CreateRun.tsx
  frontend/src/workspace/runs/create/CreateRunForm.tsx
Due: none

Fix inconsistent principal IDs for PB managed identity access rule
  internal/api/grpc/servers/managed_identity.go
  internal/api/grpc/servers/namespace_membership.go
  pkg/protos/gen/namespace_membership.pb.go
  pkg/protos/namespace_membership.proto
Due: none

Fix build timestamp not being set via ldflags
  cmd/apiserver/apiserver.go
  cmd/job/job.go
  cmd/runner/runner.go
Due: none

Feature/display resource provider icons
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/Icons.ts
  frontend/src/common/TharsisIcon.tsx
  frontend/src/workspace/state/StateVersionResourceListItem.tsx
Due: populate_npm_cache

Add logging to delete workspace
  internal/services/workspace/service.go
Due: none

Fix use of global id
  internal/auth/signing_key_manager.go
Due: none

Add reconcileWorkspace mutation and Drift Reconciliation UI option
  frontend/schema/schema.graphql
  frontend/src/workspace/WorkspaceDetailsIndex.tsx
  frontend/src/workspace/__generated__/WorkspaceDetailsIndex_ReconcileWorkspaceMutation.graphql.ts
  internal/api/graphql/resolver/root.go
  internal/api/graphql/resolver/workspace.go
  internal/api/graphql/schema/mutation.graphql
  internal/api/graphql/schema/type/workspace.graphql
  internal/services/run/mock_service.go
  internal/services/run/service.go
Due: none

Require bound claims type for oidc trust policy
  internal/api/grpc/servers/service_account.go
  internal/services/providerregistry/service.go
  pkg/protos/gen/service_account.pb.go
  pkg/protos/service_account.proto
Due: none

Update Hashicorp GPG key
  internal/jobexecutor/clidownloader.go
  pkg/provider/provider_test.go
Due: none

Require owner role to modify service accounts with namespace memberships
  .gitlab-ci.yml
  Makefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/groups/serviceaccount/ServiceAccountDetails.tsx
  frontend/src/groups/serviceaccount/ServiceAccountNamespaceMemberships.tsx
  frontend/src/groups/serviceaccount/__generated__/ServiceAccountNamespaceMembershipsFragment.graphql.ts
  frontend/src/groups/serviceaccount/__generated__/ServiceAccountNamespaceMembershipsPaginationQuery.graphql.ts
  frontend/src/groups/serviceaccount/__generated__/ServiceAccountNamespaceMembershipsQuery.graphql.ts
  go.mod
  go.sum
  internal/auth/authorization.go
  internal/auth/authorization_test.go
  internal/auth/caller.go
  internal/auth/caller_test.go
  internal/auth/federated.go
  internal/auth/federated_test.go
  internal/auth/job.go
  internal/auth/job_test.go
  internal/auth/mock_authorizer.go
  internal/auth/mock_caller.go
  internal/auth/scim.go
  internal/auth/scim_test.go
  internal/auth/serviceaccount.go
  internal/auth/serviceaccount_test.go
  internal/auth/user.go
  internal/auth/user_test.go
  internal/auth/vcs.go
  internal/auth/vcs_test.go
  internal/mcp/server.go
  internal/mcp/tools/toolsets.go
  internal/mcp/tools/toolsets_test.go
  internal/services/serviceaccount/service.go
  internal/services/serviceaccount/service_test.go
  pkg/mcp/tools/docs.go
  pkg/mcp/tools/docs_test.go
Due: populate_npm_cache, license_scanning

Update Go version to 1.25.8 to fix docker jobs
  Dockerfile
Due: none

go-git vulnerability fix
  frontend/package-lock.json
  go.mod
  go.sum
Due: populate_npm_cache, license_scanning

Ignore expired GPG keys when verifying provider checksums signature
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: none

Add support auto select for pre-releases for runs
  internal/api/graphql/resolver/run.go
  internal/api/graphql/schema/type/run.graphql
  internal/api/grpc/servers/run.go
  internal/registry/mock_module_registry_source.go
  internal/registry/moduleresolver.go
  internal/registry/moduleresolver_test.go
  internal/services/run/service.go
  internal/services/run/service_test.go
  pkg/protos/gen/run.pb.go
  pkg/protos/run.proto
Due: none

Fix issue causing bedrock client to return duplicate responses
  internal/plugin/llm/bedrock/client.go
  internal/plugin/llm/bedrock/plugin.go
  internal/plugin/llm/bedrock/plugin_test.go
Due: none

Fix container scanning vulnerability
  Dockerfile
Due: none

Adopt hardened docker images
  .gitlab-ci.yml
  Dockerfile
  Makefile
  frontend/package-lock.json
  go.mod
Due: populate_npm_cache, license_scanning

Add missing foreign key indexes to improve cascade delete performance and add...
  internal/db/migrations/20260429000000_add_foreign_key_indexes.down.sql
  internal/db/migrations/20260429000000_add_foreign_key_indexes.up.sql
  internal/runner/jobdispatcher/kubernetes/kube.go
Due: none

Fix module digest always being set in grpc
  internal/api/grpc/servers/run.go
Due: none

Remove state files from workspace dir before run
  internal/jobexecutor/terraform.go
  internal/jobexecutor/terraform_test.go
Due: none
