Repository martian-cloud/tharsis-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, license_scanning

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, frontend/package-lock.json
  license_scanning: any of: **/go.mod, **/go.sum, go.mod, go.sum

Add support for Terraform forget action in plan diff
  frontend/schema/schema.graphql
  frontend/src/workspace/__generated__/WorkspaceDetailsDriftViewerFragment_workspace.graphql.ts
  frontend/src/workspace/runs/create/__generated__/CreateRun_RunMutation.graphql.ts
  frontend/src/workspace/runs/plandiff/DiffActionChip.tsx
  frontend/src/workspace/runs/plandiff/__generated__/RunDetailsPlanDiffViewerFragment_run.graphql.ts
  internal/api/graphql/schema/type/plan.graphql
  internal/plan/action/action.go
Due: none

Improve DB queries to handle edge cases
  internal/db/terraformmoduleattestation.go
  internal/db/terraformmoduleattestation_test.go
  internal/services/workspace/service.go
  internal/services/workspace/service_test.go
Due: none

Support module version constraints for create run
  go.mod
  internal/services/run/service.go
  internal/services/run/service_test.go
Due: license_scanning

Job can now be canceled while in the pending state
  internal/jobexecutor/executor.go
  internal/services/run/service.go
  internal/services/run/state/runstatemgr.go
Due: none

fix: pass TLS skip verify to discovery document fetch
  pkg/client/grpc_client.go
Due: none

Add GetTerraformModuleVersionBySource to resolve nested module versions for Federated Registry
  internal/api/grpc/servers/terraform_module.go
  internal/registry/federated_registry.go
  internal/registry/mock_remote_client.go
  pkg/protos/gen/terraform_module.pb.go
  pkg/protos/gen/terraform_module_grpc.pb.go
  pkg/protos/gen/terraform_module_version.pb.go
  pkg/protos/terraform_module.proto
  pkg/protos/terraform_module_version.proto
Due: none

increase grpc/graphql max request body size and add runner startup delay
  internal/api/graphql/graphql.go
  internal/api/grpc/grpc.go
  internal/api/routes.go
  internal/apiserver/apiserver.go
  internal/apiserver/config/config.go
  internal/jobexecutor/apply.go
Due: none

fix: prefer THARSIS_SERVICE_ACCOUNT_ID when both service account env vars are set
  pkg/client/token/config.go
  pkg/client/token/config_test.go
Due: none

Fix Federated Registry GetAttestations
  internal/registry/federated_registry.go
  internal/registry/moduleresolver.go
  internal/registry/moduleresolver_test.go
Due: none

Fetch Terraform signing keys from hashicorp well-known endpoint
  internal/jobexecutor/clidownloader.go
  internal/jobexecutor/clidownloader_test.go
  internal/jobexecutor/hcinstall.go
Due: none

Fix failing DAST, API, and fuzzing jobs
  .gitlab-ci.yml
  internal/api/controllers/oidccontroller.go
  internal/auth/user_session.go
Due: populate_npm_cache

Fix filesystem object store auth coupling
  internal/api/controllers/objectstore_controller.go
  internal/jobexecutor/jobclient/client.go
  internal/plugin/catalog.go
  pkg/client/rest_client.go
  pkg/objectstore/filesystem/filesystem.go
  pkg/objectstore/filesystem/filesystem_test.go
Due: none

Remove user session cookies when CSRF token is stale
  internal/api/middleware/csrf.go
Due: none

security: upgrade Go to 1.26.3 in infor-tharsis-api Dockerfiles
  Dockerfile
Due: none

Removes pgx/v5 dependency
  go.mod
  go.sum
Due: license_scanning

security: upgrade go-git to v5.19.1 in infor-tharsis-api
  go.mod
  go.sum
Due: license_scanning

add publisher default role for scoped module/provider publishing
  internal/db/migrations/20260604000000_add_publisher_role.down.sql
  internal/db/migrations/20260604000000_add_publisher_role.up.sql
  internal/models/role.go
Due: none

Add email notifications for namespace membership changes
  frontend/schema/schema.graphql
  frontend/src/notifications/CustomNotificationPreference.tsx
  frontend/src/notifications/NotificationButton.tsx
  frontend/src/notifications/NotificationPreferenceDialog.tsx
  frontend/src/notifications/__generated__/GroupNotificationPreferenceQuery.graphql.ts
  frontend/src/notifications/__generated__/NotificationButtonFragment_notificationPreference.graphql.ts
  frontend/src/notifications/__generated__/NotificationPreferenceDialogMutation.graphql.ts
  frontend/src/notifications/__generated__/WorkspaceNotificationPreferenceQuery.graphql.ts
  frontend/src/userpreferences/__generated__/UserPreferencesQuery.graphql.ts
  internal/api/graphql/schema/type/userpreferences.graphql
  internal/apiserver/apiserver.go
  internal/email/builder/builder.go
  internal/email/builder/membership_change.go
  internal/email/builder/templates/base.tmpl
  internal/email/builder/templates/membership_change.tmpl
  internal/models/notificationpreference.go
  internal/services/group/service_test.go
  internal/services/namespacemembership/service.go
  internal/services/namespacemembership/service_test.go
Due: none

Add caption class to base email template
  internal/email/builder/templates/base.tmpl
  internal/email/builder/templates/membership_change.tmpl
Due: none

security: fix Axios vulns in infor-tharsis-api frontend
  frontend/package-lock.json
  frontend/package.json
Due: populate_npm_cache

Add module and configuration version file viewer
  frontend/package-lock.json
  frontend/package.json
  frontend/src/admin/ActivateAdminModeDialog.tsx
  frontend/src/archive/ArchiveFileBrowser.tsx
  frontend/src/archive/filetree.ts
  frontend/src/archive/tarball.ts
  frontend/src/common/Markdown.tsx
  frontend/src/modules/TerraformModuleVersionDetails.tsx
  frontend/src/modules/TerraformModuleVersionFiles.tsx
  frontend/src/modules/__generated__/TerraformModuleVersionDetailsIndexFragment_details.graphql.ts
  frontend/src/modules/__generated__/TerraformModuleVersionDetailsQuery.graphql.ts
  frontend/src/namespace/NamespaceBreadcrumbs.tsx
  frontend/src/nav/AccountMenu.tsx
  frontend/src/nav/AccountMenuGravatar.tsx
  frontend/src/nav/DeactivateAdminModeListItem.tsx
  frontend/src/routes/__generated__/GroupOrWorkspaceRendererQuery.graphql.ts
  frontend/src/workspace/WorkspaceDetails.tsx
  frontend/src/workspace/__generated__/WorkspaceDetailsFragment_workspace.graphql.ts
  frontend/src/workspace/runs/ConfigurationVersionDetails.tsx
  frontend/src/workspace/runs/RunDetailsSidebar.tsx
  frontend/src/workspace/runs/__generated__/ConfigurationVersionDetailsFragment_workspace.graphql.ts
  frontend/src/workspace/runs/__generated__/ConfigurationVersionDetailsQuery.graphql.ts
Due: populate_npm_cache

Add job protocol version warning for outdated runners.
  frontend/schema/schema.graphql
  frontend/src/workspace/__generated__/WorkspaceDetailsRunSubscription.graphql.ts
  frontend/src/workspace/runs/OutdatedProtocolAlert.tsx
  frontend/src/workspace/runs/RunDetailsApplyStage.tsx
  frontend/src/workspace/runs/RunDetailsPlanStage.tsx
  frontend/src/workspace/runs/__generated__/OutdatedProtocolAlertFragment_job.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsApplyStageApplyRunMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsApplyStageCancelRunMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsApplyStageFragment_apply.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsApplyStageRetryRunNodeMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsPlanStageApplyRunMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsPlanStageCancelRunMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsPlanStageDiscardRunMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsPlanStageFragment_plan.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsPlanStageRetryRunNodeMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsPlanStageUndiscardRunMutation.graphql.ts
  frontend/src/workspace/runs/__generated__/RunDetailsQuery.graphql.ts
  internal/api/graphql/resolver/job.go
  internal/api/graphql/schema/type/job.graphql
  internal/api/grpc/servers/job.go
  internal/db/jobs.go
  internal/db/migrations/20260702000000_add_job_outdated_protocol_version.down.sql
  internal/db/migrations/20260702000000_add_job_outdated_protocol_version.up.sql
  internal/jobexecutor/executor.go
  internal/jobexecutor/jobclient/client.go
  internal/jobexecutor/jobclient/mock_client.go
  internal/models/job.go
  internal/services/job/mock_service.go
  internal/services/job/service.go
  internal/services/job/service_test.go
  pkg/protos/gen/job.pb.go
  pkg/protos/job.proto
Due: none

security: upgrade Go dependencies to resolve multiple CVEs
  go.mod
  go.sum
Due: license_scanning

Sorting Namespaces by favorites
  frontend/package-lock.json
  frontend/schema/schema.graphql
  internal/db/group.go
  internal/db/group_test.go
  internal/db/workspaces.go
  internal/db/workspaces_test.go
  internal/services/group/service.go
  internal/services/group/service_test.go
  internal/services/workspace/service.go
  internal/services/workspace/service_test.go
  internal/universalsearch/searchers.go
Due: populate_npm_cache

fix: resolve runner TRN to UUID before creating runner session
  internal/api/graphql/resolver/runnersession.go
Due: none

security: upgrade Go modules to fix 27 CVEs/GHSAs in infor-tharsis-api
  go.mod
  go.sum
Due: license_scanning

Fix output visibility migration timestamp to run after existing migrations
  internal/db/migrations/20260807000000_add_output_visibility.down.sql
  internal/db/migrations/20260807000000_add_output_visibility.up.sql
Due: none
